.btn1{
    margin-top: 2%;
    width: 30%;
    border-radius: 10px;
    color: rgb(75, 4, 97);
}

body {
    margin-top: 2%;
    background-image: url('https://www.shutterstock.com/image-photo/wedding-invitation-event-planning-background-260nw-2250949339.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    color: rgb(75, 10, 136);
}
.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
padding-top: 60px;
}
.modal-content {
background-color: #fefefe;
margin: 5% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}