<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <center>
        <form method="POST">
            <div class="card">
              <div class="form">
                <h3>Enter your email</h3>
                
                <div class="input-field">
                  <i class="fa fa-envelope"></i>
                  <label>Enter new password :</label>
                  <input type="password" name="npassword" placeholder="password">
              </div>
              <div class="input-field">
                <i class="fa fa-envelope"></i>
                <label>Confirm password :</label>
                <input type="password" name="cpassword" placeholder="password">
            </div>
              
          
              <button>Submit</button>
              
              </div>
            </div>
          </form>
       
    </center>
</body>
</html>

