<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <style>
          .btn1{
    margin-top: 2%;
    width: 30%;
    border-radius: 10px;
    color: rgb(75, 4, 97);
}

body {
    margin-top: 2%;
    background-image: url('https://www.shutterstock.com/image-photo/wedding-invitation-event-planning-background-260nw-2250949339.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    color: rgb(75, 10, 136);
}

        </style>
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<center><b>{{ message }}</b></center>
{% endfor %}
{% endif %}
{% endwith %}

<body>

    <div class="container">
        <div class="admin-product-form-container">
            <form method="POST" enctype="multipart/form-data">
                <center>
                    <h1>Services Details</h1>

                    <button class="btn1"><a href="{{url_for('catering',types='catering')}}">Catering</button></a><br />
                    <button class="btn1"><a href="{{url_for('enter',types='entertainment')}}">Entertainment</button></a><br />
                    <button class="btn1"><a href="{{url_for('venue',types='venue')}}">Venue</button></a><br />
                    <button class="btn1"><a href="{{url_for('deco')}}">Decoration</button></a><br />
                    <button class="btn1"><a href="{{url_for('props')}}">Props</button></a><br />
                    <button class="btn1"><a href="{{url_for('invitations')}}">Invitation Cards</button></a><br />
                </center>
            </form>
        </div>
    </div>
    <!-- <script>
      var modal = document.getElementById('myModal');
      var btn = document.getElementsById("btn1");
      var span = document.getElementsByClassName("close")[0];
      btn.onclick = function() {
        modal.style.display = "block";
      }
      span.onclick = function() {
        modal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      
      document.getElementById("uploadForm").onsubmit = function(event) {
        event.preventDefault();
        var fileInput = document.getElementById("fileToUpload");
        var file = fileInput.files[0];
        
        // Here you can implement your file upload logic
        console.log("File to upload:", file);
        
        // Reset form after uploading
        document.getElementById("uploadForm").reset();
        
        // Close modal
        modal.style.display = "none";
      };
    </script> -->
        


</body>

</html>