<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View ContactUs</title>
    <style>
       
       .button-52 {

background-color: #04AA6D;
color: white;
padding: 4px 20px;
border: none;
border-radius: 2px;
cursor: pointer;

}
    </style>
<body>
    <a href="{{url_for('viewcantactus')}}"><button class="button-52">Back</button></a>
<center><h1>Queries:</h1></center>
<div class="container">
    <div class="row">
        {% for i in reports %}
        <div class="col-12 col-md-3" ><br>
            <div class="carding p=3">
                <label><b>Vendor Name:</b> {{i[2]}}</label><br>
                <label><b>Mobile Number:</b> {{i[5]}}</label><br>
                <label><b>Vendor Email:</b> {{i[6]}}</label><br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
</body>
</html>